NPROC_PER_NODE=4
NUM_TRAIN_EPOCHS=6
PER_DEVICE_TRAIN_BATCH_SIZE=4
GRADIENT_ACCUMULATION_STEPS=2
LEARNING_RATE=1e-4
TOKEN_SCHEMA=shared_numbers
COORD_NUM_BINS=896
LORA_RANK=16
LORA_ALPHA=32
LORA_DROPOUT=0.05
DISABLE_LEGACY_TEXT_PROMPT_TOKENS=1

